<html lang="zh-CN">
    <head>
        <meta charset="utf-8"> 
        <title>定位电子工牌</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="/static/js/echarts.common.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

        <!-- end: Favicon -->
        <script>
            var websock = new WebSocket("ws://127.0.0.1:8080/web/");
            websock.onmessage = function(evt) {
                var i;
                var res = evt.data;
                var pos_data = JSON.parse(res);
                // 协议解析
                // console.log("%o", pos_data);
                var oldopt = chart.getOption();      // 获取当前设置项
                console.log("%o", oldopt);
                if (oldopt.series[0].data.length) {
                    for (i = 0; i < oldopt.series[0].data.length; i++) {
                        var oldData = oldopt.series[0].data[i];
                        if (oldData[2] == pos_data['value']) {
                            oldopt.series[0].data[i][0] = pos_data['x'];
                            oldopt.series[0].data[i][1] = pos_data['y'];
                            chart.setOption(oldopt);
                            return;
                        }
                    }
                }
                var newData = [pos_data['x'], pos_data['y'], pos_data['value']];
                oldopt.series[0].data.push(newData);
                chart.setOption(oldopt);
            }
        </script>
        <script type="text/javascript">
            function append_data()
            {
                var chart = echarts.init(document.getElementById("main"));
                var option = {
                    title: {
                        text: "位置",
                        left: "center"
                    },
                    tooltip: {
                    },
                    xAxis:{
                        min: 0,
                        max: 100
                    },
                    yAxis:{
                        min: 0,
                        max: 100
                    },
                    visualMap: {
                        type: 'continuous',
                        min: 0,
                        max: 5,
                        show: false,
                        calculabe: true,
                        color: ['orangered', 'yellow', 'lightskyblue']
                    },
                    series: [
                        {
                            type: "scatter",
                            name: "position",
                            dimensions: ['x','y','value'],
                            encode: {
                                x: 0,
                                y: 1
                            },
                            tooltip: {
                                formatter: function(params) {
                                    return params.data[2] + '<br>' + 'x:' + params.data[0] + ' y:' + params.data[1];
                                }
                            },
                            data:[]          
                        }
                    ]
                };
                chart.setOption(option);
            }
            $(document).ready(append_data);
        </script>
    </head>
            
    <body class="container" style="margin-left:10px">
        <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div>
                    <form enctype="multipart/form-data" action="http://127.0.0.1:8080/" method="POST" target="localpage" class="navbar-form navbar-left" role="form">
                        <div class="form-group">
                            <input type="file" accept="*.csv" name="csvfile">
                        </div>
                        <button type="submit" value="上传" class="btn btn-default">提交</button>
                    </form>
                    <iframe id="localpage" name="localpage" style="display:none"></iframe>
                </div>
                <!-- 文件导入 -->
                <button onclick="cal_time()" class="btn btn-default navbar-btn">时间同步
                    <script>
                        function cal_time() {
                        // 校时
                            var msg = {'id':0x01, 'type':0x01, 'message':0x00};
                            data = JSON.stringify(msg);
                            websock.send(data);
                        }
                    </script>
                </button>
                <button onclick="download()" class="btn btn-default navbar-btn">下载数据
                    <script>
                        function download() {
                            // 下载数据
                            var msg = {'id':0x01, 'type':0x00, 'message':0x00};
                            data = JSON.stringify(msg);
                            websock.send(data);
                        }
                    </script>
                </button>
                <button id="start_refresh" onclick="start_refresh()" class="btn btn-default navbar-btn">开始更新</button>
                <script>
                    // 定位轮询开关
                    var switch_cnt = 0x00;
                    function start_refresh() {
                        var dom = document.getElementById('start_refresh');
                        console.log("%o", dom.innerText);
                        if (dom.innerText == '开始更新') {
                            dom.innerText = '停止更新';
                            switch_cnt = 0x01;
                        }
                        else {
                            dom.innerText = '开始更新';
                            switch_cnt = 0x02;
                        }
                        var message = {
                            'id':0x01,
                            'type':0x02,
                            'message':switch_cnt
                        };
                        data = JSON.stringify(message)
                        console.log("%o", data);
                        websock.send(data)
                    }
                </script>
            </div>
        </div>
        
        <!-- 终端在线列表 -->
        <div id="online_list" class="col-md-4 column">
            {% for terminal in terminals %}
            <ul class="list-group" style="margin-bottom:1px; margin-right:0px">
                <button class="btn btn-primary btn-lg" style="background-color:rgb(0,{{terminal.tid}},0)" data-toggle="modal" data-target="#{{terminal.uid}}">
                    {{terminal.uid}}
                </button>
                <!-- 模态框 -->
                <div class="modal fade" id="{{terminal.uid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">                                
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">{{terminal.uid}}&nbsp;信息修改</h4>
                            </div>
                            <div class="modal-body">
                                <div style="margin-left:30px">
                                    <li><input type="text" name="{{terminal.uid}}-name" placeholder="{{terminal.name}}">姓名</li>
                                    <li><input type="text" name="{{terminal.uid}}-depart" placeholder="{{terminal.depatment}}">科室</li>
                                    <li><input type="text" name="{{terminal.uid}}-level" placeholder="{{terminal.level}}">职级</li>
                                    <li><input type="text" name="{{terminal.uid}}-uid" placeholder="{{terminal.uid}}">工号</li>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary">提交更改</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 模态框结束 -->
            </ul>
            {% endfor %}
        </div>
        <!-- 坐标位置 -->
        <div id="pos" class="col-md-8 column" style="margin: 0%">
            <!-- 时间标签 -->
            <div id="time_clock">
                <!--setInterval实时显示时间-->
                <p id="time1" style="color: blueviolet;"></p>
                <script>
                    function mytime(){
                        var a = new Date();
                        var b = a.toLocaleTimeString();
                        var c = a.toLocaleDateString();
                        document.getElementById("time1").innerHTML = c+"&nbsp"+b;
                        }
                    setInterval(function() {mytime()},1000);
                </script>
            </div>
            <div id="main" style="width:630px; height: 630px"></div>
        </div>
    </body>
</html>