<html>
    <head>
	
                <!-- start: Meta -->
                <meta charset="utf-8">
                <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
                <meta name="description" content="Bootstrap Metro Dashboard">
                <meta name="author" content="Dennis Ji">
                <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
                <!-- end: Meta -->
                
                <!-- start: Mobile Specific -->
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <!-- end: Mobile Specific -->
                
                <!-- start: CSS -->
                <link id="bootstrap-style" href="/static/css/bootstrap.min.css" rel="stylesheet">
                <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
                <link id="base-style" href="/static/css/style.css" rel="stylesheet">
                <link id="base-style-responsive" href="/static/css/style-responsive.css" rel="stylesheet">
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
                <!-- end: CSS -->
                <script src="/static/js/echarts.common.min.js"></script>
                    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
                   <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
                   <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
            
                <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <link id="ie-style" href="css/ie.css" rel="stylesheet">
                <![endif]-->
                
                <!--[if IE 9]>
                    <link id="ie9style" href="css/ie9.css" rel="stylesheet">
                <![endif]-->
                    
                <!-- start: Favicon -->
                <link rel="shortcut icon" href="/static/img/favicon.ico">
                <!-- end: Favicon -->
                <script>
                    var websock = new WebSocket("ws://127.0.0.1:8080/web/");
                    websock.onmessage = function(evt) {
                        var res = evt.data;
                        console.log("%o", res);
                    }
                </script>
                    
                    
                    
    </head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			 <a id="modal-728163" href="#modal-container-728163" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>
			
			<div id="modal-container-728163" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						标题栏
					</h3>
				</div>
				<div class="modal-body">
					<p>
						显示信息
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
				</div>
			</div>
			<div class="accordion" id="accordion-697235">
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-697235" href="#accordion-element-356142">选项卡 #1</a>
					</div>
					<div id="accordion-element-356142" class="accordion-body in collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-697235" href="#accordion-element-96123">选项卡 #2</a>
					</div>
					<div id="accordion-element-96123" class="accordion-body collapse">
						<div class="accordion-inner">
							功能块...
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span8">
			<img alt="140x140" src="img/a.jpg" />
		</div>
	</div>
</div>
</body>
</html>